/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Styling starts here */
html {
	font-family: arial,sans-serif
}
/* Header Styling */
header {
	padding-top: 1.5em;
	padding-right: 1em;
}
.nav-bar ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.nav-bar li {
	display: inline-block;
	margin-left: 1em;
}
.nav-bar a {
	text-decoration: none;
	color: rgba(0,0,0,0.87);
	font-weight: 400;
	font-size: smaller;
}
.nav-bar a:hover {
	text-decoration: underline;
}
.nav-bar.apps {
	background-color: transparent;
	padding: 10px;
}
.nav-bar .apps:hover {
	/* Problem with the padding of the apps on hover */
	background-color: #5f6368;
	border-radius: 50%;
}
.nav-bar .user {
	padding: 7px;
	background-color:rgb(116, 70, 70);
	border-radius: 50%;
	color: white;
}
.nav-bar .user:hover {
	/* Problem with the hover state border, 
	jumping out of the outline */
	/* border: 2px solid white; */
}