/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Styling starts here */
html {
	font-family: arial,sans-serif;
	color: rgba(0,0,0,0.87);
	font-weight: 500;
	font-size: smaller;
	height: 100%;
	width: 100%;
}
  body {
	height: 100%;
	width: 100%;
  }

.wrapper {
	min-height: 100%;
	margin: 0px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: stretch; /* Solution to not being able to style footer */
}
 /*Header Styling */
header {
	flex: 0;
	padding-top: 1.5em;
	padding-right: 1em;
}
.nav-bar ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.nav-bar li {
	display: inline-block;
	margin-left: 1em;
}
.nav-bar a {
	text-decoration: none;
	color: rgba(0,0,0,0.87);
	font-weight: 400;
	font-size: smaller;
}
.nav-bar a:hover {
	text-decoration: underline;
}
.nav-bar.apps {
	background-color: transparent;
	padding: 10px;
}
.nav-bar .apps:hover {
	/* Problem with the padding of the apps on hover */ 
	background-color: #5f6368;
	border-radius: 50%;
}
.nav-bar .user {
	padding: 7px;
	background-color:rgb(116, 70, 70);
	border-radius: 50%;
	color: white;
}
.nav-bar .user:hover {
	/* Problem with the hover state border, 
	jumping out of the outline */
	border: 2px solid white;
}
main {
	flex: 1;
	padding: 20px;
	text-align: center;
	/* align-self: center;
	width: 70vw;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}
#logo {
	margin-top: 4.3em;
	max-width: 100%;
	height: auto;
}
 /*Search Bar */ 
.search-container {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #dedfe0;
	display: flex;

	width: 40%;
	height: 2.8em;
	border-radius: 24px;
	padding: 5px 8px 0 16px;
}
.search-container > * {
	align-self: center;
}
.search-container:hover {
	box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.34);
}
.search-container input[type="search"] {
	width: 100%;
	height: 2.8em;
	background-color: transparent;
	border: none;
}
.search-container input[type="search"]:focus {
	outline: none;
}
.search-container .submit {
	height: 40px;
	margin-bottom: 1em;
}
.submit input[type="submit"] {
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.submit input[type="submit"]:hover {
	border: 1px solid #dedfe0;
}

.languages {
	margin-top: 1em;
	display: inline-block;
}
.languages a {
	padding: 0 3px;
	text-decoration: none;
	font-weight: 400;
	font-size:small;
}
.languages a:hover {
	text-decoration: underline;
}

footer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-top: 20px;
	background-color: #f2f2f2;
}
footer > * {
	margin-bottom: 10px;
}
footer li {
	display: inline-block;
}
footer a {
	text-decoration: none;
	color: #70757a;
	font-weight: 500;
	font-size: 14px;
	padding: 5px;
}
footer a:hover {
	text-decoration: underline;
}
footer span {
	font-size: 14px;
	color: #70757a;
}
@media (max-width: 500px) {
	footer {
		flex-direction: column;
		align-items: center;
	}
	footer .center {
		order: -1;
	}
}